<div class="container">
  <div class="dog-card">
    <img src="{{dogs.picture}}">
    <h3>Name: <strong>{{dogs.name}}</strong></h3>
    <h4>Gender: <strong>{{dogs.gender}}</strong></h4>
    <h4>Type: <strong>{{dogs.breed_type}}</strong></h4>
    <h4>Age: <strong>{{dogs.age}}</strong></h4>
    <h4>City: <strong>{{dogs.city}}</strong></h4>
    <p>{{dogs.description}}</p>
  </div>


  {{#if shelter}}


  <form method="POST" action="/mydogs/{{dogs.id}}/delete">
    <div class="field submit">
      <button class="button" type="submit">Remove</button>
    </div>
  </form>
  <a class="button" href="/mydogs/{{dogs.id}}/edit-dog/">Edit</a>
  {{#each requests}}
    {{this.owner.username}}
  <a class="button" href="/mydogs/{{../dogs._id}}/request/{{this._id}}">See request</a>
  {{/each}}

  {{/if}}
  

  {{#if status}}
  <h3> Your request is {{status}}</h3>
  {{/if}}
  {{#unless status}}
  {{#unless shelter}}
  <a href="/dogs/{{dogs.id}}/request" class="button request">Send a request</a>
  {{/unless}}
  {{/unless}}

</div>
