<div class="container">
  <div class="dog-card">
    <h3>{{dogs.name}}</h3>
    <h4>{{dogs.gender}}</h4>
    <h4>{{dogs.breed_type}}</h4>
    <h4>{{dogs.age}}</h4>
    <h4>{{dogs.city}}</h4>
    <p>{{dogs.description}}</p>
  </div>


  {{#if shelter}}


  <form method="POST" action="/mydogs/{{dogs.id}}/delete">
    <div class="field submit">
      <button class="button" type="submit">Remove</button>
    </div>
  </form>
  <a class="button" href="/mydogs/{{dogs.id}}/edit-dog/">Edit</a>
  {{#each requests}}
    {{this.owner.username}}
  <a class="button" href="/mydogs/{{../dogs._id}}/request/{{this._id}}">See request</a>
  {{/each}}

  {{/if}}
  

  {{#if status}}
  <h3> Your request is {{status}}</h3>
  {{/if}}
  {{#unless status}}
  {{#unless shelter}}
  <a href="/dogs/{{dogs.id}}/request">Send a request</a>
  {{/unless}}
  {{/unless}}

</div>
