<div class="container">
  <div class="dog-card">
    <h3>{{dogs.name}}</h3>
    <h4>{{dogs.breed_type}}</h4>
    <h4>{{dogs.age}}</h4>
    <h4>{{dogs.city}}</h4>
    <p>{{dogs.description}}</p>
  </div>
  <form method="POST" action="/mydogs/{{dogs.id}}/delete">
    <div class="field submit">
      <button type="submit">Remove</button>
    </div>
  </form>
</div>