<div class="add-dog container">
    <a href="/mydogs/add-dog" class="button">Add a Dog</a>
</div>
<div class="container flex-parent">
    {{#each dogs}}
    <div class="dog-card">
        <img src="{{this.picture}}">
        <h1>{{this.name}}</h1>
        <h4>{{this.gender}}</h4>
        <h4>{{this.breed_type}}</h4>
        <h4>{{this.age}}</h4>
        <a href="/mydogs/{{this.id}}" class="button">See more details</a>
        <a href="/mydogs/{{this.id}}" class="card-link"></a>
    </div>
    {{/each}}

    
    
</div>