{{requests.owner}}
{{requests.message}}
{{requests.status}}

<form method="POST" action="/mydogs/{{dogs.id}}/request/{{requests.id}}">
    <div class="field submit">
        <button class="btn" type="submit" name="status" value="accept">Accept</button>
        <button class="btn" type="submit" name="status" value="reject">Reject</button>
    </div>
</form>